[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
transformers = "*"
datasets = {extras = ["audio"], version = "*"}
torch = "*"
sentencepiece = "*"
fastapi-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
